<nav class="flex items-center justify-between text-white px-2 py-1.5 bg-[#005b96]">
    <h1 class="font-[900] text-[18px]">MyAPP</h1>
    <ul class="flex text-[14px] gap-[8px]">
        <li class="cursor-pointer" routerLink="/home">Home</li>
        <li class="cursor-pointer" routerLink="/student">Student(local)</li>
        <li class="cursor-pointer" routerLink="/product">Product(API)</li>
        <li class="cursor-pointer" routerLink="/secret">Secret</li>
        <li *ngIf="!isAuthenticated()" class="cursor-pointer" routerLink="/register">Register</li>
        <li *ngIf="!isAuthenticated()" class="cursor-pointer" routerLink="/login">Login</li>
        <li *ngIf="isAuthenticated()" (click)="logout()" class="cursor-pointer" >Logout</li>
        
    </ul>
</nav>

<router-outlet></router-outlet>
