<ng-container>
    <div class="mt-2 p-4 flex justify-end">
        <button class="bg-[#005b96] px-2 py-1.5 text-white rounded-[3.2px]">New</button>
    </div>
    <div class="flex justify-center">
        <table class="table-auto">
            <thead>
                <th>S.N</th>
                <th>Name</th>
                <th>Roll</th>
            </thead>
            <tbody>
                <td></td>
            </tbody>
        </table>
    </div>
    
</ng-container>


<ng-template #popup>
    <div>
        <div class="flex justify-between items-center">
            <h1>Add/Edit Student</h1>
            <mat-icon>cross</mat-icon>
        </div>

        <div class="px-[16px] py-[12px]">
            <div>
                <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Name</label>
                <div class="mt-2">
                    <input id="email" name="email" required
                        class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6">
                </div>
            </div>

            <div>
                <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Roll</label>
                <div class="mt-2">
                    <input id="email" name="email" required
                        class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6">
                </div>
            </div>
        </div>
    </div>
</ng-template>